<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
            <h2>About Me</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <ul role="list" class="info">
                <li role="listitem">
                    <span class="first-block">Full Name:</span><span class="second-block">{{ userAccount.firstname|escape }} {{ userAccount.surname|escape }}</span>
                </li>
                <li role="listitem">
                    <span class="first-block">Location:</span><span class="second-block">{{ userAccount.location|escape }}</span>
                </li>
                <li role="listitem">
                    <span class="first-block">Email:</span><span class="second-block"><a target="_blank" href="mailto:{{ userAccount.email|escape }}?subject=Website enquiry">{{ userAccount.email|escape }}</a></span>
                </li>
                <li role="listitem">
                    <span class="first-block">LinkedIn:</span><span class="second-block"><a target="_blank" href="{{ userAccount.linkedin }}">{{ userAccount.linkedin|replace({'https://www.linkedin.com/in/': ''})|escape }}</a></span>
                </li>
                <li>
                    <span class="first-block">GitHub:</span><span class="second-block"><a target="_blank" href="{{ userAccount.github }}">{{ userAccount.github|replace({'https://github.com/': ''})|escape }}</a></span>
                </li>
            </ul>
        </div>
        <div class="col-md-8">
            <h2>Hello There!</h2>
            {{ userAccount.aboutMe|raw }}
            <h3>Work Philosophy</h3>
            {{ userAccount.philosophy|raw }}
        </div>
    </div>
</div>