<div class="container">
    <div class="row animate-box">
        <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
            <h2>My Resume</h2>
            <div class="custom-btn-group mt-4">
                <a href="{{ asset('fs/cv/JosephJamesSmythCV.pdf') }}" class="btn mr-lg-2 custom-btn"
                   download="JosephJamesSmythCV.pdf">
                    <i class="uil uil-file-alt"></i>
                    Download Resume
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-md-offset-0">
            <ul role="list" class="timeline">
                <li class="timeline-heading text-center animate-box">
                    <div><h3>Work Experience</h3></div>
                </li>
                {% if userAccount.workExperience|length == 0 %}
                    <div class="alert alert-danger" role="alert">Please add your work experience</div>
                {% endif %}
                {% for workExperience in userAccount.workExperience|reverse %}
                    {% set listPosition = 'animate-box timeline-unverted' %}
                    {% if (loop.index is even) %}
                        {% set listPosition = 'animate-box timeline-inverted' %}
                    {% endif %}
                    <li class="{{ listPosition|escape }}">
                        <div class="timeline-badge"><i class="icon-suitcase"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3 class="timeline-title">{{ workExperience.title|escape }}</h3>
                                <span class="company">{{ workExperience.business|escape }} - {{ workExperience.startDate|date('F')|escape }} {{ workExperience.startDate|date('Y')|escape }} - {% if loop.first %}Current{% else %}{{ workExperience.endDate|date('F')|escape }} {{ workExperience.endDate|date('Y')|escape }}{% endif %}</span>
                            </div>
                            <div class="timeline-body">
                                <p>{{ workExperience.description|escape }}</p>
                            </div>
                        </div>
                    </li>
                {% endfor %}
                <br>
                <li class="timeline-heading text-center animate-box">
                    <div><h3>Education</h3></div>
                </li>
                {% if userAccount.education|length == 0 %}
                    <div class="alert alert-danger" role="alert">Please add your education</div>
                {% endif %}
                {% for workExperience in userAccount.workExperience|reverse %}
                {% set listPosition = 'animate-box timeline-unverted' %}
                {% if (loop.index is even) %}
                    {% set listPosition = 'animate-box timeline-inverted' %}
                {% endif %}
                <li class="{{ listPosition|escape }}">
                    <div class="timeline-badge"><i class="icon-graduation-cap"></i></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h3 class="timeline-title">Postgraduate Diploma</h3>
                            <span class="company">Ulster University - 2007 - 2008</span>
                        </div>
                        <div class="timeline-body">
                            <p>Business and Information Innovation.</p>
                        </div>
                    </div>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>