<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
            <h2>Skills</h2>
        </div>
    </div>
    <div class="row">
        {% if userAccount.skills|length == 0 %}
            <div class="alert alert-danger" role="alert">Please add your skills</div>
        {% endif %}
        {% for skill in userAccount.skills|sort((a, b) => b.percentage <=> a.percentage)|slice(0,4) %}
            <div class="col-md-3 col-sm-6 text-center">
                <svg data-title="{{ skill.title|upper|escape }}" height="250" viewBox="0 0 160 200"
                     class="circular-progress-1" preserveAspectRatio="xMaxYMax meet">
                    <foreignobject class="node" x="{{ skill.foreignObjectX|escape }}"
                                   y="{{ skill.foreignObjectY|escape }}" width="{{ skill.foreignObjectWidth|escape }}"
                                   height="{{ skill.foreignObjectHeight|escape }}">
                        <span>{{ skill.title|upper|escape }}<br>{{ skill.percentage|escape }}%</span>
                    </foreignobject>
                    <circle class="bg"></circle>
                    <circle class="fg"></circle>
                </svg>
            </div>
        {% endfor %}
    </div>
    <div class="row">
        {% for skill in userAccount.skills|sort((a, b) => b.percentage <=> a.percentage)|slice(5,50) %}
            {% set progressColour = 'progress-bar-1' %}
            {% if skill.percentage >= 85 %}
                {% set progressColour = 'progress-bar-2' %}
            {% elseif skill.percentage >= 75 %}
                {% set progressColour = 'progress-bar-3' %}
            {% elseif skill.percentage >= 55 %}
                {% set progressColour = 'progress-bar-5' %}
            {% endif %}
            <div class="col-md-4">
                <div class="progress-wrap">
                    <h3>
                        <span class="name-left">{{ skill.title|escape }}</span>
                        <span class="value-right">{{ skill.percentage|escape }}%</span>
                    </h3>
                    <div class="progress">
                        <div class="progress-bar {{ progressColour|escape }} progress-bar-striped active"
                             role="progressbar"
                             aria-label="{{ skill.percentage|lower|escape }}"
                             aria-valuenow="{{ skill.percentage|escape }}"
                             aria-valuemin="0" aria-valuemax="100" style="width:{{ skill.percentage|escape }}%">
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>