{% extends 'base.html.twig' %}

{% block title %}Education index{% endblock %}

{% block body %}

<div class="container table-responsive py-5">
    <h1>Education index</h1>

    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Course</th>
                <th scope="col">Institution</th>
                <th scope="col">Title</th>
                <th scope="col">Start_date</th>
                <th scope="col">End_date</th>
                <th scope="col">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for education in education %}
            <tr>
                <th scope="row">{{ education.id }}</th>
                <td>{{ education.course }}</td>
                <td>{{ education.institution }}</td>
                <td>{{ education.title }}</td>
                <td>{{ education.startDate ? education.startDate|date('Y-m-d') : '' }}</td>
                <td>{{ education.endDate ? education.endDate|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_education_show', {'id': education.id}) }}">show</a>
                    <a href="{{ path('app_education_edit', {'id': education.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_education_new') }}">Create new</a>
</div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/project/homepage/index.css') }}">
{% endblock %}
{% block importmap %}
    {{ importmap(['app_homepage', 'app_contact_us']) }}
{% endblock %}