{% extends 'base.html.twig' %}

{% block title %}Education{% endblock %}

{% block body %}

<div class="container table-responsive py-5">

    <h1>Education</h1>

    <table class="table table-bordered table-hover">
        <tbody>
            <tr>
                <th scope="row">Id</th>
                <td>{{ education.id }}</td>
            </tr>
            <tr>
                <th>Course</th>
                <td>{{ education.course }}</td>
            </tr>
            <tr>
                <th>Institution</th>
                <td>{{ education.institution }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ education.title }}</td>
            </tr>
            <tr>
                <th>Start_date</th>
                <td>{{ education.startDate ? education.startDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>End_date</th>
                <td>{{ education.endDate ? education.endDate|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_education_index') }}">back to list</a>

    <a href="{{ path('app_education_edit', {'id': education.id}) }}">edit</a>

    {{ include('education/_delete_form.html.twig') }}

</div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/project/homepage/index.css') }}">
{% endblock %}
{% block importmap %}
    {{ importmap(['app_homepage', 'app_contact_us']) }}
{% endblock %}
