{% extends 'base.html.twig' %}

{% block title %}WorkExperience index{% endblock %}

{% block body %}

<div class="container table-responsive py-5">
    <h1>Work Experience index</h1>

    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Title</th>
                <th scope="col">Business</th>
                <th scope="col">Start_date</th>
                <th scope="col">End_date</th>
                <th scope="col">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for work_experience in work_experiences %}
            <tr>
                <th scope="row">{{ work_experience.id }}</th>
                <td>{{ work_experience.title }}</td>
                <td>{{ work_experience.business }}</td>
                <td>{{ work_experience.startDate ? work_experience.startDate|date('Y-m-d') : '' }}</td>
                <td>{{ work_experience.endDate ? work_experience.endDate|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_work_experience_show', {'id': work_experience.id}) }}">show</a>
                    <a href="{{ path('app_work_experience_edit', {'id': work_experience.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_work_experience_new') }}">Create new</a>
</div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/project/homepage/index.css') }}">
{% endblock %}
{% block importmap %}
    {{ importmap(['app_homepage', 'app_contact_us']) }}
{% endblock %}