{{ form_start(contactUsForm, {'method': 'POST', 'action' : '/contact-us', 'attr': {'id': 'contact-us-form'}}) }}
{{ form_errors(contactUsForm) }}
<div class="row form-group">
    <div class="col-md-6">
        {{ form_errors(contactUsForm.firstname) }}
        {{ form_widget(contactUsForm.firstname) }}
    </div>
</div>
<div class="row form-group">
    <div class="col-md-6">
        {{ form_errors(contactUsForm.surname) }}
        {{ form_widget(contactUsForm.surname) }}
    </div>
</div>

<div class="row form-group">
    <div class="col-md-12">
        {{ form_errors(contactUsForm.email) }}
        {{ form_widget(contactUsForm.email) }}
    </div>
</div>

<div class="row form-group">
    <div class="col-md-12">
        {{ form_errors(contactUsForm.subject) }}
        {{ form_widget(contactUsForm.subject) }}
    </div>
</div>

<div class="row form-group">
    <div class="col-md-12">
        {{ form_errors(contactUsForm.message) }}
        {{ form_widget(contactUsForm.message) }}
    </div>
</div>

<div class="row form-group d-none">
    <div class="d-none">
        <input type="text" name="contact_us[honeyPot]" id="contact_us_honey_pot" tabindex="-1" autocomplete="nope" />
    </div>
</div>

<div class="form-group">
    <input id="contact-us" type="submit" value="Send Message" class="btn btn-primary">
</div>
{{ form_rest(contactUsForm) }}
{{ form_end(contactUsForm) }}