{% extends 'base.html.twig' %}

{% block title %}Expertise{% endblock %}

{% block body %}

<div class="container table-responsive py-5">
    <h1>Expertise</h1>

    <table class="table table-bordered table-hover">
        <tbody>
            <tr>
                <th scope="row">Id</th>
                <td>{{ expertise.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ expertise.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ expertise.description }}</td>
            </tr>
            <tr>
                <th>Icon_css</th>
                <td>{{ expertise.iconCss }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_expertise_index') }}">back to list</a>

    <a href="{{ path('app_expertise_edit', {'id': expertise.id}) }}">edit</a>

    {{ include('expertise/_delete_form.html.twig') }}

</div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/project/homepage/index.css') }}">
{% endblock %}
{% block importmap %}
    {{ importmap(['app_homepage', 'app_contact_us']) }}
{% endblock %}
