{% extends 'base.html.twig' %}

{% block title %}Expertise{% endblock %}

{% block body %}
    <h1>Expertise</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ expertise.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ expertise.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ expertise.description }}</td>
            </tr>
            <tr>
                <th>Icon_css</th>
                <td>{{ expertise.iconCss }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_expertise_index') }}">back to list</a>

    <a href="{{ path('app_expertise_edit', {'id': expertise.id}) }}">edit</a>

    {{ include('expertise/_delete_form.html.twig') }}
{% endblock %}
