{% extends 'base.html.twig' %}

{% block title %}Skills index{% endblock %}

{% block body %}

    <div class="container table-responsive py-5">
        <h1>Skills index</h1>
        <table class="table table-bordered table-hover">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Title</th>
                <th scope="col">Percentage</th>
                <th scope="col">actions</th>
            </tr>
            </thead>
            <tbody>
            {% set count = 1 %}
            {% for skill in skills|sort((a, b) => b.percentage <=> a.percentage) %}
                <tr>
                    <th scope="row">{{ count }}</th>
                    <td>{{ skill.title }}</td>
                    <td>{{ skill.percentage }}</td>
                    <td>
                        <a href="{{ path('app_skills_show', {'id': skill.id}) }}">show</a>
                        <a href="{{ path('app_skills_edit', {'id': skill.id}) }}">edit</a>
                    </td>
                </tr>
                {% set count = count + 1 %}
            {% else %}
                <tr>
                    <td colspan="8">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="{{ path('app_skills_new') }}">Create new</a>
    </div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/project/homepage/index.css') }}">
{% endblock %}
{% block importmap %}
    {{ importmap(['app_homepage', 'app_contact_us']) }}
{% endblock %}