{% extends 'base.html.twig' %}

{% block title %}Skills{% endblock %}

{% block body %}

<div class="container table-responsive py-5">

    <h1>Skills</h1>

    <table class="table table-bordered table-hover">
        <tbody>
            <tr>
                <th scope="row">Id</th>
                <td>{{ skill.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ skill.title }}</td>
            </tr>
            <tr>
                <th>Percentage</th>
                <td>{{ skill.percentage }}</td>
            </tr>
            <tr>
                <th>Foreign Object X</th>
                <td>{{ skill.foreignObjectX }}</td>
            </tr>
            <tr>
                <th>Foreign Object Y</th>
                <td>{{ skill.foreignObjectY }}</td>
            </tr>
            <tr>
                <th>Foreign Object Width</th>
                <td>{{ skill.foreignObjectWidth }}</td>
            </tr>
            <tr>
                <th>Foreign Object Height</th>
                <td>{{ skill.foreignObjectHeight }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_skills_index') }}">back to list</a>

    <a href="{{ path('app_skills_edit', {'id': skill.id}) }}">edit</a>

    {{ include('skills/_delete_form.html.twig') }}

</div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/project/homepage/index.css') }}">
{% endblock %}
{% block importmap %}
    {{ importmap(['app_homepage', 'app_contact_us']) }}
{% endblock %}
